.ant-divider {
  border-color: rgb(109, 109, 109) !important;
}

.ant-card.ant-card-bordered {
  box-shadow: 2px 2px 10px rgba(165, 165, 165, 0.486) !important;
}

.ant-card-actions {
  background-color: #e6f1ff;
}
.ant-card-actions li:first-child {
  border-right: 2px solid #76aaf7;
}
